<h1> Create New Viewing Party </h1>

<b><p> Movie Title: <%= @movie_title %></p></b>
<%= form_for [:user, @party] do |f| %>
  <%= f.hidden_field :movie_title, :value => @movie_title %> <br/>

  <b><%= f.label :duration_in_minutes %></b>
  <%= f.text_field :duration %><br><br>

  <b><%= f.label :date %></b>
  <%= f.date_field :when %>

  <b><%= f.label :time %></b>
  <%= f.time_field :time %><br><br>

  <b><%= label_tag :attendees %></b><br><br>
  <% @current_user.friend_getter.each do |friend| %>
    <%= friend.email %>
    <%= check_box_tag "add_friend[]", friend.username %>
  <% end %></br><br>

  <%= f.submit %>
<% end %>
