<h1>Welcome <%= @user.name %>!</h1>

<%= link_to "Discover Movies", "/user/discover" %>

<h3>Friends</h3>

<%= form_tag(user_path, method: "post") do %>
  Add Friend's Email: <%= email_field(:user, :email) %>
  <%= submit_tag("Add Friends")%>
<%end%>

<h3>Viewing Parties</h3>
